body{
    margin: 0;
}

.container{
    margin-left: 80px;
    padding: 50px;
    width: calc(100vw - 180px);
    background-color: rgb(255, 255, 255);
    height: auto;
    overflow: auto;
}


.aboutCovid{
    text-align: center;
    font-size: 40px;
    border-style :solid;
}

.symptoms{
    border-style :solid;
    text-align: center;

}

.howToProtect{
    border-style :solid;
    text-align: center;
 
}
.image1{
    float:right;
}
.image2{
    float:right;
}
