a {
    text-decoration: none;
}

a:link, a:visited {
    color: blue;
}

a:hover {
    color: red;
}

.content{
    position: relative;
    height: 100%;
}

.sidebar{
    position:absolute;
    width: 80px;
    height: 100%;
    background-color: rgb(176, 174, 174);
}

.sidebar div {
    transform: rotate(-90deg);
    margin: 80px 0px;
    padding: 6px 10px;
    text-align: center;
    height: 20px;
    font-size: 18px;
    border: solid 2px black;
    border-radius: 10px;
}