body{
    margin: 0;
}
.container{
    margin-left: 80px;
    padding: 50px;
    width: calc(100vw - 180px);
    background-color: rgb(223, 246, 250);
}

.aboutVaccine{
    margin-left: 80px;
    padding: 50px;
    width: calc(100vw - 180px);
}